@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --max-width: 1240px;
  --hero-max-width: 1400px;
  --bg-navbar: rgba(255, 255, 255, 40%);
  --color-black: #3d3d3d;
  --color-white: #fafafa;
  --color-grey: #dfdfdf;
  --color-dark-grey: #8e8e8e;
  --color-brand: #f0e691;
  --color-yellow-dark: #e1ce1e;
  --font-jacques: 'Jacques Francois Shadow', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'jost', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-black);
}

/* Common */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.yellow {
  color: var(--color-brand);
}

.hidden {
  display: none !important;
}

.main {
  position: relative;
  height: max-content;
}

.main section:not(.hero) {
  width: 100%;
  max-height: max-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  padding-bottom: 5px;
  border-bottom: var(--color-grey) solid 1px;
}

.section-container {
  position: relative;
  max-width: var(--max-width);
  height: 100%;
}

.section-heading {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 8rem 0 5rem 0;
}

.next-section-block {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-section-text {
  margin-bottom: -5px;
}

.btn-arrow-down {
  width: 85px;
  height: 100%;
  margin-bottom: -5px;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.btn-arrow-down:hover {
  animation-name: bounce;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

/* NAVIGATION BUTTONS in the MAIN SECTION */
.nav-btns {
  position: fixed;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding-top: 15px;
  background-color: rgba(213, 213, 213, 54%);
  border: 1px solid #c7c7c7;
  border-radius: 25px;
  width: 6rem;
  height: 25rem;
  z-index: 100;
}

.btn-nav.active {
  transform: scale(1.1);
}

.btn-nav:not(.active) {
  transition: transform 100ms ease-out;
}

.btn-nav:not(.active):hover {
  transform: scale(1.25);
}

.star-btn-img {
  width: 45px;
  height: auto;
}

/* HEADER (NAVIGATION BAR) */
.header {
  background-color: var(--bg-navbar);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;
  height: 100%;
}

.logo {
  width: 27px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.nav-menu {
  padding-bottom: 3px;
  transition: filter 150ms;
}

.nav-menu:not(.active) {
  border-bottom: 1px solid transparent;
}

.nav-menu.active {
  border-bottom: 1px solid var(--color-black);
}

.nav-menu:hover {
  filter: brightness(180%);
}

.btn-contact {
  color: var(--color-yellow-dark);
  background: linear-gradient(var(--color-white), var(--color-white))
      padding-box,
    linear-gradient(
        to right,
        rgba(144, 143, 143, 49%) 0%,
        rgba(250, 253, 128, 65%) 59%,
        rgba(238, 241, 79, 57%) 66%,
        rgba(130, 130, 130, 51%) 100%
      )
      border-box;
  border-radius: 25px;
  border: 0;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 10px 18px;
  letter-spacing: 0.5px;
  box-shadow: 0.5px 0.5px 5px #dcdcdc;
  border: 1px solid transparent;
}

/* HERO SECTION */
.hero {
  background: url('/img/hero-bg.png') no-repeat center/100%;
  height: auto;
  border: 1px solid transparent;
  padding-top: 50px;
}

.hero-container {
  position: relative;
  margin: 1.6rem;
  border: #fff solid 1px;
  border-radius: 10px;
  height: 70rem;
  max-width: fit-screen;
}

.hero-block {
  display: flex;
  flex-direction: column;
  margin: 12rem auto 0;
  max-width: var(--hero-max-width);
}

.greeting {
  font-family: var(--font-jacques);
  font-size: 10rem;
  font-weight: 400;
  letter-spacing: -5px;
}

.title {
  font-family: var(--font-jacques);
  font-size: 12.8rem;
  font-weight: 400;
  letter-spacing: -4px;
  color: #fff;
  text-shadow: 0 10px 4px rgba(0, 0, 0, 25%);
  margin-top: -2rem;
}

.position {
  color: #fff;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 3px 3px 13.7px rgba(0, 0, 0, 25%);
  margin-top: 4.5rem;
}

/* ABOUT SECTION */
.about {
  background: url('/img/about-bg.png');
  background-size: 100% 100%;
  height: 100vh;
}

.about-paragraph {
  width: 70rem;
}

.about-paragraph:first-of-type {
  margin-bottom: 3.4rem;
}

.about-img {
  margin-top: 7rem;
}

/* PROJECTS SECTION */
.projects {
  background: url('/img/projects-bg.png');
}

.projects-heading {
  font-family: var(--font-jacques);
  font-size: 7rem;
  letter-spacing: 4%;
  color: #b1b1b1;
  -webkit-text-stroke: 0.1px #fff;
  text-shadow: 0 6px 4px rgba(0, 0, 0, 25%);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 3rem;
  row-gap: 3rem;
  margin-bottom: 20rem;
}

.project {
  border: 1px solid var(--color-grey);
  border-radius: 27px;
  height: 40rem;
  width: 30rem;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 20%);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.project-thumbnail-container {
  width: 100%;
  height: 100%;
}

.project-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 1s ease-in-out;
}

.project:hover .project-thumbnail {
  filter: blur(30px);
}

.blur {
  filter: blur(20px);
}

.project-info-on-hover {
  position: absolute;
  top: 200%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  padding: 0 3rem;
  text-align: left;
  transition: top 0.5s ease-in-out;
}

.project:hover .project-info-on-hover {
  top: 8%;
}

.project-logo {
  width: 3rem;
  height: auto;
  margin-bottom: -0.5rem;
}

.project-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.project-block {
  width: 23rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.project-block:not(:last-child) {
  margin-bottom: 0.2rem;
}

.project-label {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-dark-grey);
}

/* CONTACT SECTION */
.contact {
  background: url('/img/contact-bg.png') center;
  border-bottom: none !important;
}

.contact-paragraph {
  font-size: 1.8rem;
  letter-spacing: 4%;
  text-align: left;
  margin: 0 0 3.5rem 3rem;
}

.contact-form {
  padding: 5rem;
  background-color: rgba(233, 233, 233, 20%);
  border: #d1d1d1 solid 1px;
  border-radius: 27px;
  width: 85rem;
  box-shadow: 5px 3px 26.5px rgba(153, 153, 153, 25%);
  margin-bottom: 10rem;
}

.form-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.form-block {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}

.contact-form label {
  font-size: 1.6rem;
  color: #4a4a4a;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  letter-spacing: 0.5px;
  color: var(--color-dark-grey);
}

.contact-form input,
.contact-form textarea {
  background-color: rgba(255, 255, 255, 78%);
  border: #ebebeb 1px solid;
  border-radius: 2px;
  outline: none;
  padding: 1.5rem;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
}

.contact-form input {
  height: 4rem;
  width: 35rem;
}

.contact-form textarea {
  padding: 0.5rem 1.5rem;
}

.contact-form .btn-contact {
  padding: 12px 45px;
  background: linear-gradient(var(--color-white), var(--color-white))
      padding-box,
    linear-gradient(
        to right,
        rgba(144, 143, 143, 49%) 0%,
        rgba(250, 253, 128, 65%) 84%,
        rgba(130, 130, 130, 51%) 100%
      )
      border-box;
  border: 1px solid transparent;
  margin-top: 4rem;
}

/* FOOTER */
.footer {
  color: #4a4a4a;
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 20rem;
}

.footer-email-block {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.copyright {
  font-size: 1.3rem;
}

/* MEDIA QUERIES */
@media (max-width: 2300px) {
  .nav-btns {
    right: 17%;
  }
}

@media (max-width: 2100px) {
  .nav-btns {
    right: 16%;
  }
}

@media (max-width: 1800px) {
  .nav-btns {
    right: 13%;
  }
}

@media (max-width: 1700px) {
  .nav-btns {
    right: 10%;
  }
}

@media (max-width: 1600px) {
  .nav-btns {
    right: 10%;
  }
}

@media (max-width: 1500px) {
  :root {
    --hero-max-width: 1200px;
  }

  .nav-btns {
    right: 5%;
  }
}

@media (max-width: 1260px) {
  :root {
    --max-width: 1100px;
    --hero-max-width: 1100px;
  }

  .section-heading {
    font-size: 2.5rem;
  }

  .header {
    font-size: 1.4rem;
  }

  .btn-contact {
    font-size: 1.2rem;
  }

  .nav-btns {
    width: 5rem;
    height: 21rem;
    border-radius: 21px;
  }

  .star-btn-img {
    width: 40px;
  }

  .hero {
    background: url('/img/hero-bg.png') 100%;
  }

  .greeting {
    font-size: 9rem;
  }

  .title {
    font-size: 10rem;
  }

  .position {
    font-size: 1.8rem;
  }

  .next-section-block {
    font-size: 1.3rem;
  }

  .btn-arrow-down {
    width: 70px;
  }

  .contact-paragraph {
    font-size: 1.6rem;
  }

  .contact-form label {
    font-size: 1.5rem;
  }

  .footer-email-block {
    font-size: 1.4rem;
  }
}

@media (max-width: 1180px) {
  :root {
    --max-width: 1000px;
    --hero-max-width: 1000px;
  }
}

@media (max-width: 1080px) {
  :root {
    --max-width: 950px;
    --hero-max-width: 900px;
  }

  .section-heading {
    font-size: 2.2rem;
  }

  .greeting {
    font-size: 8rem;
  }

  .title {
    font-size: 9rem;
  }

  .position {
    font-size: 1.6rem;
  }

  .about-text-block {
    font-size: 1.4rem;
  }

  .about-img {
    width: 17rem;
  }

  .project {
    height: auto;
    width: 25rem;
  }

  .project-info-on-hover {
    padding: 0 1.5rem;
  }

  .project:hover .project-info-on-hover {
    top: 5%;
  }

  .project-logo {
    width: 2rem;
    margin-bottom: 0;
  }

  .project-title {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .project-block {
    font-size: 1.3rem;
  }

  .project-label {
    font-size: 1.3rem;
  }

  .contact-paragraph {
    margin: 0 0 2.5rem 2rem;
  }

  .form-top {
    margin-bottom: 2rem;
  }

  .form-block {
    gap: 0.5rem;
  }

  .contact-form {
    width: 75rem;
    padding: 4rem;
  }

  .contact-form label {
    font-size: 1.4rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1.4rem;
  }

  .contact-form input {
    width: 32rem;
  }

  .contact-form .btn-contact {
    margin-top: 2.5rem;
  }
}

@media (max-width: 990px) {
  :root {
    --max-width: 850px;
    --hero-max-width: 850px;
  }

  .hero-container {
    height: 55rem;
  }

  .greeting {
    font-size: 6rem;
  }

  .title {
    font-size: 7rem;
  }

  .position {
    font-size: 1.5rem;
  }

  .about-paragraph {
    width: 60rem;
  }

  .contact-form {
    width: 65rem;
    padding: 3rem;
  }

  .contact-form label {
    font-size: 1.4rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1.4rem;
  }

  .contact-form input {
    width: 28rem;
  }

  .contact-form .btn-contact {
    margin-top: 2.5rem;
  }

  .footer-email-block {
    font-size: 1.3rem;
  }

  .copyright {
    font-size: 1.2rem;
  }
}

@media (max-width: 905px) {
  :root {
    --max-width: 750px;
    --hero-max-width: 750px;
  }

  .nav-btns {
    right: 3%;
  }

  .position {
    margin-top: 3rem;
  }

  .projects-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .contact-paragraph {
    font-size: 1.5rem;
  }
}

@media (max-width: 810px) {
  :root {
    --max-width: 650px;
    --hero-max-width: 650px;
  }

  .header {
    font-size: 1.3rem;
  }

  .btn-contact {
    font-size: 1.2rem;
  }

  .nav-btns {
    display: none;
  }

  .about-paragraph {
    width: 55rem;
  }

  .contact-form {
    width: 50rem;
  }

  .form-top {
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .contact-form label {
    font-size: 1.3rem;
  }

  .contact-form input {
    height: 3.5rem;
    width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1.4rem;
  }

  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    font-size: 1.4rem;
  }
}

@media (max-width: 720px) {
  :root {
    --max-width: 600px;
    --hero-max-width: 550px;
  }

  .section-heading {
    font-size: 2rem;
  }

  .hero-container {
    height: 50rem;
  }

  .greeting {
    font-size: 5rem;
  }

  .title {
    font-size: 6rem;
  }

  .position {
    font-size: 1.4rem;
  }

  .btn-contact {
    font-size: 1.1rem;
  }

  .about-paragraph {
    width: 45rem;
  }

  .footer-container {
    gap: 1.5rem;
  }
}

@media (max-width: 630px) {
  :root {
    --max-width: 500px;
    --hero-max-width: 500px;
  }

  .hero-container {
    height: 40rem;
  }

  .greeting {
    font-size: 5rem;
  }

  .title {
    font-size: 6rem;
  }

  .position {
    font-size: 1.3rem;
  }

  .about {
    height: 90vh;
  }

  .about-img {
    width: 13rem;
  }
}

@media (max-width: 540px) {
  :root {
    --max-width: 430px;
    --hero-max-width: 430px;
  }

  .section-heading {
    font-size: 1.7rem;
  }

  .header {
    font-size: 1.1rem;
  }

  .btn-contact {
    font-size: 1rem;
  }

  .greeting {
    font-size: 4rem;
  }

  .title {
    font-size: 5rem;
  }

  .position {
    font-size: 1.1rem;
  }

  .about-paragraph {
    width: 35rem;
  }

  .about-img {
    width: 10rem;
  }

  .projects-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .project {
    height: 40rem;
    width: 70%;
    margin: 0 auto;
  }

  .project-info-on-hover {
    padding: 0 3rem;
  }

  .project:hover .project-info-on-hover {
    top: 7%;
  }

  .project-logo {
    width: 3rem;
    margin-bottom: 0.5rem;
  }

  .project-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .project-block {
    width: 100%;
    font-size: 1.4rem;
    margin: 0 auto;
  }

  .project-label {
    font-size: 1.4rem;
  }

  .contact-form {
    width: 40rem;
  }

  .form-top {
    gap: 0.9rem;
    margin-bottom: 0.9rem;
  }

  .contact-form label {
    font-size: 1.3rem;
  }

  .contact-form input {
    height: 2.5rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1.3rem;
  }

  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  :root {
    --max-width: 350px;
    --hero-max-width: 330px;
  }

  .header {
    font-size: 1rem;
  }

  .btn-contact {
    font-size: 0.9rem;
  }

  .greeting {
    font-size: 3rem;
  }

  .title {
    font-size: 4rem;
  }

  .position {
    font-size: 1rem;
  }

  .about {
    height: 110vh;
  }

  .about-paragraph {
    width: 20rem;
  }

  .about-img {
    width: 10rem;
  }

  .project {
    height: 35rem;
    width: 75%;
  }

  .contact-form {
    width: 30rem;
  }

  .form-top {
    gap: 0.9rem;
    margin-bottom: 0.9rem;
  }

  .contact-form label {
    font-size: 1.3rem;
  }

  .contact-form input {
    height: 2.5rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    font-size: 1.2rem;
    padding-left: 0.5rem;
  }

  .contact-form textarea {
    padding: 0.5rem 1rem;
  }
}
